# Ignore These Files
*.png
*.tif
*.jpg
*.tiff
*.pyc
*.pt
.DS_Store

# Python virtual environments
.venv/
venv/
env/
ENV/

train.log

runs/
*.pt
*.pth
train.log
runs/
*.pt
*.pth
train.log

# Keep demo images even though data/ is ignored
!demos/Demo1.png
!demos/Demo2.png
!demos/Demo3.png
